
.category-website-content .hero{
    display: none;
}
.category-general .hero{
    display: none;
}
.category-admin .hero{
    display: none;
}
.category-higher-education-sector .hero{
    display: none;
}
.category-site-feedback .hero{
    display: none;
}
.category-student-experience .hero{
    display: none;
}
.category-student-lifecycle-student-journey .hero{
    display: none;
}
.category-technology-and-innovation .hero{
    display: none;
}
.category-professional-development-and-leadership .hero{
    display: none;
}
.category-student-experience .hero{
    display: none;
}

//
.category-website-content .hero-container{
    display: none;
}
.category-general .hero-container{
    display: none;
}
.category-admin .hero-container{
    display: none;
}
.category-higher-education-sector .hero-container{
    display: none;
}
.category-site-feedback .hero-container{
    display: none;
}
.category-student-experience .hero-container{
    display: none;
}
.category-student-lifecycle-student-journey .hero-container{
    display: none;
}
.category-technology-and-innovation .hero-container{
    display: none;
}
.category-professional-development-and-leadership .hero-container{
    display: none;
}
.category-site-feedback .hero{
    display: none;
}
.category-student-experience .hero-container{
    display: none;
}
//

.category-website-content .hero{
    display: none;
}
.category-general .hero{
    display: none;
}
.category-admin .hero{
    display: none;
}
.category-higher-education-sector .hero{
    display: none;
}
.category-site-feedback .hero{
    display: none;
}
.category-student-experience .hero-container{
    display: none;
}
.category-website-content .hero-container{
    display: none;
}
.category-general .hero-container{
    display: none;
}
.category-admin .hero-container{
    display: none;
}
.category-higher-education-sector .hero-container{
    display: none;
}
.category-site-feedback .hero-container{
    display: none;
}
.category-student-experience .hero-container{
    display: none;
}
.category-student-lifecycle-student-journey .hero-container{
    display: none;
}
.category-technology-and-innovation .hero-container{
    display: none;
}
.category-professional-development-and-leadership .hero-container{
    display: none;
}
.category-site-feedback .hero{
    display: none;
}
.category-student-experience .hero-container{
    display: none;
}
.category-website-content .hero-container{
    display: none;
}
.category-general .badge-category__wrapper .badge-category__name {
    color: rgb(255 255 255);
}
.category-admin .badge-category__wrapper .badge-category__name {
    color: rgb(255 255 255);
}
.category-higher-education-sector .badge-category__wrapper .badge-category__name {
    color: rgb(255 255 255);
}
.category-site-feedback .badge-category__wrapper .badge-category__name {
    color: rgb(255 255 255);
}
.category-student-experience .badge-category__wrapper .badge-category__name {
    color: rgb(255 255 255);
}
.category-student-lifecycle-student-journey .badge-category__wrapper .badge-category__name {
    color: rgb(255 255 255);
}
.category-technology-and-innovation .badge-category__wrapper .badge-category__name {
    color: rgb(255 255 255);
}
.category-professional-development-and-leadership .badge-category__wrapper .badge-category__name {
    color: rgb(255 255 255);
}

.select-kit.is-expanded .select-kit-body {
    border: 1px solid #035 !important;
    border-radius: 10px !important;
}

.hamburger-panel .revamped {
    border-radius: 10px;
    border: 1px solid #035;
}

.open .grippie {
    background: #035 !important;
}

.open .grippie::before {
    border-top: 7px double white;
}
